In [1]:
import pandas as pd
df=pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [2]:
df.describe()

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

In [4]:
df.head() #처음 다섯개의 row를 가져옴

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [5]:
df.head(7) # 괄호안의 숫자만큼의 데이터를 가져온다

       이름   학교    키  국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90   85  100  95  85      Python
2번    정대만  북산고  184  40   35   50  55  25        Java
3번    송태섭  북산고  168  80   75   70  80  75  Javascript
4번    서태웅  북산고  187  40   60   70  75  80         NaN
5번    강백호  북산고  188  15   20   10  35  10         NaN
6번    변덕규  능남고  202  80  100   95  85  80           C
7번    황태산  능남고  188  55   65   45  40  35      PYTHON

In [6]:
df.tail() # 마지막의 다섯개의 데이터를 가져옴

       이름   학교    키   국어   영어  수학  과학  사회    SW특기
지원번호
4번    서태웅  북산고  187   40   60  70  75  80     NaN
5번    강백호  북산고  188   15   20  10  35  10     NaN
6번    변덕규  능남고  202   80  100  95  85  80       C
7번    황태산  능남고  188   55   65  45  40  35  PYTHON
8번    윤대협  능남고  190  100   85  90  95  95      C#

In [7]:
df.tail(3) # 마지막 세개 가져옴

       이름   학교    키   국어   영어  수학  과학  사회    SW특기
지원번호
6번    변덕규  능남고  202   80  100  95  85  80       C
7번    황태산  능남고  188   55   65  45  40  35  PYTHON
8번    윤대협  능남고  190  100   85  90  95  95      C#

In [8]:
df.values

array([['채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'],
       ['정대만', '북산고', 184, 40, 35, 50, 55, 25, 'Java'],
       ['송태섭', '북산고', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['서태웅', '북산고', 187, 40, 60, 70, 75, 80, nan],
       ['강백호', '북산고', 188, 15, 20, 10, 35, 10, nan],
       ['변덕규', '능남고', 202, 80, 100, 95, 85, 80, 'C'],
       ['황태산', '능남고', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['윤대협', '능남고', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

In [9]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

In [10]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [11]:
df.shape #row, col 개수

(8, 9)

## Series 확인

In [12]:
df['키'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: 키, dtype: float64

In [13]:
df['키'].min()

168

In [14]:
df['키'].nlargest(3)

지원번호
6번    202
1번    197
8번    190
Name: 키, dtype: int64

In [15]:
df['키'].mean()

188.0

In [16]:
df['SW특기'].count()

6

In [17]:
df['학교'].unique()

array(['북산고', '능남고'], dtype=object)

In [18]:
df['학교'].nunique()

2

## 데이터선택

In [20]:
df['이름']

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [21]:
df[['키','이름']]

        키   이름
지원번호
1번    197  채치수
2번    184  정대만
3번    168  송태섭
4번    187  서태웅
5번    188  강백호
6번    202  변덕규
7번    188  황태산
8번    190  윤대협

In [22]:
df.columns[0]

'이름'

In [23]:
df[df.columns[0]]

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [24]:
df[df.columns[-1]]

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: SW특기, dtype: object

### 슬라이싱

In [25]:
df['영어'][0:5]

지원번호
1번    85
2번    35
3번    75
4번    60
5번    20
Name: 영어, dtype: int64

In [26]:
df[['이름','키']][:3]

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168

In [27]:
df[:3]

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript

In [28]:
df[3:]

       이름   학교    키   국어   영어  수학  과학  사회    SW특기
지원번호
4번    서태웅  북산고  187   40   60  70  75  80     NaN
5번    강백호  북산고  188   15   20  10  35  10     NaN
6번    변덕규  능남고  202   80  100  95  85  80       C
7번    황태산  능남고  188   55   65  45  40  35  PYTHON
8번    윤대협  능남고  190  100   85  90  95  95      C#

# 07데이터선택 (loc)

In [29]:
df=pd.read_excel('score.xlsx', index_col='지원번호')

In [31]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [32]:
df.loc['1번']

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [33]:
df.loc['1번','국어'] #인덱스 1번에 해당하는 국어 데이터

90

In [34]:
df.loc[['1번','2번']]

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
2번    정대만  북산고  184  40  35   50  55  25    Java

In [35]:
df.loc[['1번','2번'],'국어']

지원번호
1번    90
2번    40
Name: 국어, dtype: int64

In [36]:
df.loc[['1번','2번'],'영어','수학']

IndexingError: Too many indexers

In [37]:
df.loc[['1번','2번'],['영어','수학']]

      영어   수학
지원번호
1번    85  100
2번    35   50

In [38]:
df.loc['1번':'5번','국어':'사회']

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10

# 데이터 선택(iloc)

In [39]:
df.iloc[0]

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [40]:
df.iloc[4]

이름      강백호
학교      북산고
키       188
국어       15
영어       20
수학       10
과학       35
사회       10
SW특기    NaN
Name: 5번, dtype: object

In [41]:
df.iloc[0:5]

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [42]:
df.iloc[0,'학교']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [43]:
df.iloc[0,1]

'북산고'

In [44]:
df.iloc[4,2]

188

In [45]:
df.iloc[[0,1],2]

지원번호
1번    197
2번    184
Name: 키, dtype: int64

In [46]:
df.iloc[[0,1],[3,4]]

      국어  영어
지원번호
1번    90  85
2번    40  35

In [47]:
df.iloc[0:5, 3:8] # 0~4 위치의 학생 중에서 3~7(국어~사회)번째 데이터

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10

# 09.데이터 선택(조건)

In [48]:
df['키'] >=185

지원번호
1번     True
2번    False
3번    False
4번     True
5번     True
6번     True
7번     True
8번     True
Name: 키, dtype: bool

In [49]:
num=df.loc['1번','키']>=185
num

True

In [2]:
filt = df['키']>=185
df[filt]

NameError: name 'df' is not defined

In [51]:
df[~filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    정대만  북산고  184  40  35  50  55  25        Java
3번    송태섭  북산고  168  80  75  70  80  75  Javascript

In [52]:
df[df['키']>=185]

       이름   학교    키   국어   영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85  Python
4번    서태웅  북산고  187   40   60   70  75  80     NaN
5번    강백호  북산고  188   15   20   10  35  10     NaN
6번    변덕규  능남고  202   80  100   95  85  80       C
7번    황태산  능남고  188   55   65   45  40  35  PYTHON
8번    윤대협  능남고  190  100   85   90  95  95      C#

In [53]:
df.loc[df['키']>=185,'수학']

지원번호
1번    100
4번     70
5번     10
6번     95
7번     45
8번     90
Name: 수학, dtype: int64

In [54]:
df.loc[df['키']>=185,['이름','수학','과학']]

       이름   수학  과학
지원번호
1번    채치수  100  95
4번    서태웅   70  75
5번    강백호   10  35
6번    변덕규   95  85
7번    황태산   45  40
8번    윤대협   90  95

## 다양한 조건
### &그리고

In [55]:
df.loc[(df['키']>=185) & (df['학교']=='북산고')]

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
4번    서태웅  북산고  187  40  60   70  75  80     NaN
5번    강백호  북산고  188  15  20   10  35  10     NaN

### | 또는

In [56]:
df.loc[(df['키']<170) | (df['키'] > 200)]

       이름   학교    키  국어   영어  수학  과학  사회        SW특기
지원번호
3번    송태섭  북산고  168  80   75  70  80  75  Javascript
6번    변덕규  능남고  202  80  100  95  85  80           C

In [57]:
filt = df['이름'].str.startswith('송')
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
3번    송태섭  북산고  168  80  75  70  80  75  Javascript

In [58]:
filt = df['이름'].str.contains('태')
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
3번    송태섭  북산고  168  80  75  70  80  75  Javascript
4번    서태웅  북산고  187  40  60  70  75  80         NaN
7번    황태산  능남고  188  55  65  45  40  35      PYTHON

In [59]:
df[~filt]

       이름   학교    키   국어   영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85  Python
2번    정대만  북산고  184   40   35   50  55  25    Java
5번    강백호  북산고  188   15   20   10  35  10     NaN
6번    변덕규  능남고  202   80  100   95  85  80       C
8번    윤대협  능남고  190  100   85   90  95  95      C#

In [60]:
langs = ["Python","Java"]
filt = df['SW특기'].isin(langs)

In [61]:
df[filt]

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
2번    정대만  북산고  184  40  35   50  55  25    Java

In [62]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [63]:
langs = ['python','java']
filt = df['SW특기'].str.lower().isin(langs)

In [64]:
df[filt]

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
2번    정대만  북산고  184  40  35   50  55  25    Java
7번    황태산  능남고  188  55  65   45  40  35  PYTHON

In [65]:
filt = df['SW특기'].str.contains('Java')
df[filt]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [66]:
filt = df['SW특기'].str.contains('Java', na=True)
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    정대만  북산고  184  40  35  50  55  25        Java
3번    송태섭  북산고  168  80  75  70  80  75  Javascript
4번    서태웅  북산고  187  40  60  70  75  80         NaN
5번    강백호  북산고  188  15  20  10  35  10         NaN

In [67]:
filt = df['SW특기'].str.contains('Java', na=False)
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    정대만  북산고  184  40  35  50  55  25        Java
3번    송태섭  북산고  168  80  75  70  80  75  Javascript

In [69]:
df['SW특기'].str.contains('Java', na=True)

지원번호
1번    False
2번     True
3번     True
4번     True
5번     True
6번    False
7번    False
8번    False
Name: SW특기, dtype: bool